In [199]:
import pandas as pd
import warnings 
from sklearn.metrics import r2_score
warnings.filterwarnings('ignore')

In [97]:
temp2=pd.read_excel('附件3、土壤湿度2022—2012年.xls')
temp2.head()

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92

In [98]:
temp3=pd.read_excel('附件4、土壤蒸发量2012—2022年.xls')
temp3.head()

   月份    年份  经度(lon)  纬度(lat)  土壤蒸发量(W/m2)  土壤蒸发量(mm)
0   1  2022  115.375   44.125         0.41       0.44
1   2  2022  115.375   44.125         0.28       0.27
2   3  2022  115.375   44.125         5.58       5.98
3   1  2021  115.375   44.125         1.05       1.13
4   2  2021  115.375   44.125         1.58       1.53

In [99]:
temp4=pd.read_excel('附件6、植被指数-NDVI2012-2022年.xls')
temp4.head()

   月份    年份  经度(lon)  纬度(lat)  植被指数(NDVI)
0   1  2022  115.375   44.125       0.010
1   2  2022  115.375   44.125       0.010
2   3  2022  115.375   44.125       0.187
3   4  2022  115.375   44.125       0.191
4   1  2021  115.375   44.125      -0.002

In [100]:
temp5=pd.read_excel('附件9、径流量2012-2022年.xlsx')
temp5.head()

   月份    年份  经度(lon)  纬度(lat)  径流量(m3/s)    径流量(m3)
0   1  2022  115.375   44.125   0.160786   430650.0
1   2  2022  115.375   44.125   0.116071   280800.0
2   3  2022  115.375   44.125   0.825605  2211300.0
3   1  2021  115.375   44.125   0.066532   178200.0
4   2  2021  115.375   44.125   0.033482    81000.0

In [101]:
data=pd.merge(temp2,temp3)
data.head()

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(W/m2),土壤蒸发量(mm)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48,0.41,0.44
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48,0.28,0.27
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48,5.58,5.98
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92,1.05,1.13
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92,1.58,1.53

In [102]:
data

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(W/m2),土壤蒸发量(mm)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48,0.41,0.44
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48,0.28,0.27
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48,5.58,5.98
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92,1.05,1.13
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92,1.58,1.53
...,...,...,...,...,...,...,...,...,...,...
118,8,2012,115.375,44.125,15.76,44.94,61.25,168.44,13.32,14.27
119,9,2012,115.375,44.125,17.12,45.67,55.29,168.38,12.88,13.36
120,10,2012,115.375,44.125,15.04,42.49,54.69,168.33,7.59,8.13
121,11,2012,115.375,44.125,14.79,42.71,55.02,168.32,0.88,0.92
122,12,2012,115.375,44.125,14.42,42.71,55.02,168.32,0.32,0.34

In [103]:
data=pd.merge(data,temp4)
data=pd.merge(data,temp5)

In [104]:
data

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(W/m2),土壤蒸发量(mm),植被指数(NDVI),径流量(m3/s),径流量(m3)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48,0.41,0.44,0.010,0.160786,430650.00
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48,0.28,0.27,0.010,0.116071,280800.00
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48,5.58,5.98,0.187,0.825605,2211300.00
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92,1.05,1.13,-0.002,0.066532,178200.00
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92,1.58,1.53,0.002,0.033482,81000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,8,2012,115.375,44.125,15.76,44.94,61.25,168.44,13.32,14.27,0.597,0.621472,1664550.10
119,9,2012,115.375,44.125,17.12,45.67,55.29,168.38,12.88,13.36,0.475,0.444010,1150875.00
120,10,2012,115.375,44.125,15.04,42.49,54.69,168.33,7.59,8.13,0.282,0.361643,968624.94
121,11,2012,115.375,44.125,14.79,42.71,55.02,168.32,0.88,0.92,0.176,0.290104,751950.00
122,12,2012,115.375,44.125,14.42,42.71,55.02,168.32,0.32,0.34,0.018,0.213710,572400.00

In [105]:
import sys,os
temp=pd.DataFrame()
for i in os.walk('./附件8 锡林郭勒盟气候2012-2022'):
    for k in i[2]:
        temp=pd.concat([temp,pd.read_excel('./附件8 锡林郭勒盟气候2012-2022/%s'%k)])

In [106]:
temp

,站点号,海拔高度(m),经度,纬度,年份,月份,平均气温(℃),平均最高气温(℃),平均最低气温(℃),最高气温极值(℃),...,平均站点气压(hPa),积雪深度(mm),平均能见度(km),最小能见度(km),最大能见度(km),平均风速(knots),平均最大持续风速(knots),单日最大平均风速(knots),平均最大瞬时风速(knots),最大瞬时风速极值(knots)
0,54102099999,1004.0,115.375,44.125,2012,1,-22.94,-16.04,-29.35,-9.28,...,907.04,NaN,29.00,26.23,29.93,5.52,8.96,15.5,NaN,NaN
1,54102099999,1004.0,115.375,44.125,2012,2,-17.86,-10.76,-26.25,-0.72,...,903.99,NaN,29.32,26.23,29.93,6.01,11.12,15.5,NaN,NaN
2,54102099999,1004.0,115.375,44.125,2012,3,-7.11,-1.32,-14.78,15.39,...,902.44,NaN,28.28,15.61,29.93,7.36,12.60,27.2,NaN,NaN
3,54102099999,1004.0,115.375,44.125,2012,4,6.94,13.94,-1.94,26.22,...,898.30,NaN,28.21,14.81,29.93,8.82,15.09,25.3,NaN,NaN
4,54102099999,1004.0,115.375,44.125,2012,5,14.61,22.14,4.93,32.50,...,899.50,NaN,28.55,21.57,29.93,8.56,15.54,25.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,54102099999,1004.0,115.375,44.125,2022,3,-2.36,5.35,-11.22,15.22,...,899.03,20.32,27.44,18.67,29.93,6.37,11.16,19.4,23.33,37.3
3,54102099999,1004.0,115.375,44.125,2022,4,7.61,15.43,-2.66,28.22,...,898.98,NaN,27.94,16.25,29.93,7.41,12.69,21.4,26.32,32.6
4,54102099999,1004.0,115.375,44.125,2022,5,12.95,20.39,3.09,30.22,...,896.38,NaN,28.61,18.51,29.93,6.55,12.35,23.3,NaN,NaN
5,54102099999,1004.0,115.375,44.125,2022,6,19.59,26.74,11.75,34.11,...,892.42,NaN,27.10,17.86,29.93,5.87,10.50,19.4,NaN,NaN
6,54102099999,1004.0,115.375,44.125,2022,7,23.31,32.03,15.34,34.89,...,893.10,NaN,28.61,17.06,29.93,6.30,11.15,17.5,NaN,NaN

In [107]:
data=pd.merge(data,temp)

In [108]:
data.isnull().sum()/data.shape[0]

月份                 0.000000
年份                 0.000000
经度(lon)            0.000000
纬度(lat)            0.000000
10cm湿度(kg/m2)      0.000000
40cm湿度(kg/m2)      0.000000
100cm湿度(kg/m2)     0.000000
200cm湿度(kg/m2)     0.000000
土壤蒸发量(W/m2)        0.000000
土壤蒸发量(mm)          0.000000
植被指数(NDVI)         0.000000
径流量(m3/s)          0.000000
径流量(m3)            0.000000
站点号                0.000000
海拔高度(m)            0.000000
经度                 0.000000
纬度                 0.000000
平均气温(℃)            0.000000
平均最高气温(℃)          0.000000
平均最低气温(℃)          0.000000
最高气温极值(℃)          0.000000
最低气温极值(℃)          0.000000
平均气温≥18℃的天数        0.000000
平均气温≥35℃的天数        0.000000
平均气温≤0℃的天数         0.000000
平均露点温度(℃)          0.000000
降水量(mm)            0.000000
最大单日降水量(mm)        0.000000
降水天数               0.000000
平均海平面气压(hPa)       0.000000
最低海平面气压(hPa)       0.000000
平均站点气压(hPa)        0.000000
积雪深度(mm)           0.731707
平均能见度(km)          0.000000
最小能见度(km)          0.000000
最大能见度(km)          0.000000
平均风速(knots)        0.000000
平均最大持续风速(knots)    0.000000
单日最大平均风速(knots)    0.000000
平均最大瞬时风速(knots)    0.764228
最大瞬时风速极值(knots)    0.764228
dtype: float64

In [109]:
del data['积雪深度(mm)']
del data['平均最大瞬时风速(knots)']
del data['最大瞬时风速极值(knots)']

In [110]:
data.isnull().sum()

月份                 0
年份                 0
经度(lon)            0
纬度(lat)            0
10cm湿度(kg/m2)      0
40cm湿度(kg/m2)      0
100cm湿度(kg/m2)     0
200cm湿度(kg/m2)     0
土壤蒸发量(W/m2)        0
土壤蒸发量(mm)          0
植被指数(NDVI)         0
径流量(m3/s)          0
径流量(m3)            0
站点号                0
海拔高度(m)            0
经度                 0
纬度                 0
平均气温(℃)            0
平均最高气温(℃)          0
平均最低气温(℃)          0
最高气温极值(℃)          0
最低气温极值(℃)          0
平均气温≥18℃的天数        0
平均气温≥35℃的天数        0
平均气温≤0℃的天数         0
平均露点温度(℃)          0
降水量(mm)            0
最大单日降水量(mm)        0
降水天数               0
平均海平面气压(hPa)       0
最低海平面气压(hPa)       0
平均站点气压(hPa)        0
平均能见度(km)          0
最小能见度(km)          0
最大能见度(km)          0
平均风速(knots)        0
平均最大持续风速(knots)    0
单日最大平均风速(knots)    0
dtype: int64

In [111]:
data.columns

Index(['月份', '年份', '经度(lon)', '纬度(lat)', '10cm湿度(kg/m2)', '40cm湿度(kg/m2)',
       '100cm湿度(kg/m2)', '200cm湿度(kg/m2)', '土壤蒸发量(W/m2)', '土壤蒸发量(mm)',
       '植被指数(NDVI)', '径流量(m3/s)', '径流量(m3)', '站点号', '海拔高度(m)', '经度', '纬度',
       '平均气温(℃)', '平均最高气温(℃)', '平均最低气温(℃)', '最高气温极值(℃)', '最低气温极值(℃)',
       '平均气温≥18℃的天数', '平均气温≥35℃的天数', '平均气温≤0℃的天数', '平均露点温度(℃)', '降水量(mm)',
       '最大单日降水量(mm)', '降水天数', '平均海平面气压(hPa)', '最低海平面气压(hPa)', '平均站点气压(hPa)',
       '平均能见度(km)', '最小能见度(km)', '最大能见度(km)', '平均风速(knots)', '平均最大持续风速(knots)',
       '单日最大平均风速(knots)'],
      dtype='object')

In [112]:
data=data[['月份', '年份','10cm湿度(kg/m2)','200cm湿度(kg/m2)', '植被指数(NDVI)','平均气温(℃)', '降水量(mm)','平均风速(knots)']]
data

,月份,年份,10cm湿度(kg/m2),200cm湿度(kg/m2),植被指数(NDVI),平均气温(℃),降水量(mm),平均风速(knots)
0,1,2022,12.45,164.48,0.010,-17.09,607.31,4.37
1,2,2022,12.10,164.48,0.010,-17.93,796.04,5.30
2,3,2022,14.96,164.48,0.187,-2.36,115.57,6.37
3,1,2021,15.17,165.92,-0.002,-20.03,4.57,5.38
4,2,2021,13.93,165.92,0.002,-12.43,240.03,6.08
...,...,...,...,...,...,...,...,...
118,8,2012,15.76,168.44,0.597,19.87,62.23,6.76
119,9,2012,17.12,168.38,0.475,12.92,62.74,5.67
120,10,2012,15.04,168.33,0.282,4.32,16.51,6.26
121,11,2012,14.79,168.32,0.176,-9.43,30.48,7.11
122,12,2012,14.42,168.32,0.018,-20.42,5.59,5.97

In [113]:
data.to_csv('Q4.data.csv',index=None)

In [114]:
data=pd.read_csv('Q4.data.csv')
data.head()

,月份,年份,10cm湿度(kg/m2),200cm湿度(kg/m2),植被指数(NDVI),平均气温(℃),降水量(mm),平均风速(knots)
0,1,2022,12.45,164.48,0.010,-17.09,607.31,4.37
1,2,2022,12.10,164.48,0.010,-17.93,796.04,5.30
2,3,2022,14.96,164.48,0.187,-2.36,115.57,6.37
3,1,2021,15.17,165.92,-0.002,-20.03,4.57,5.38
4,2,2021,13.93,165.92,0.002,-12.43,240.03,6.08

In [115]:
for i in data.columns[2:]:
    data[i]=(data[i]-data[i].min())/(data[i].max()-data[i].min())

In [116]:
data.columns

Index(['月份', '年份', '10cm湿度(kg/m2)', '200cm湿度(kg/m2)', '植被指数(NDVI)', '平均气温(℃)',
       '降水量(mm)', '平均风速(knots)'],
      dtype='object')

In [117]:
data.head()

,月份,年份,10cm湿度(kg/m2),200cm湿度(kg/m2),植被指数(NDVI),平均气温(℃),降水量(mm),平均风速(knots)
0,1,2022,0.225522,0.000000,0.043408,0.129112,0.681001,0.000000
1,2,2022,0.197432,0.000000,0.043408,0.111732,0.892632,0.175472
2,3,2022,0.426966,0.000000,0.327974,0.433892,0.129593,0.377358
3,1,2021,0.443820,0.352941,0.024116,0.068281,0.005125,0.190566
4,2,2021,0.344302,0.352941,0.030547,0.225533,0.269155,0.322642

In [118]:
data[ '10cm湿度(kg/m2)']=1/3*data[ '10cm湿度(kg/m2)']
data[ '200cm湿度(kg/m2)']=1/3*data[ '200cm湿度(kg/m2)']
data[ '植被指数(NDVI)']=1/3*data[ '植被指数(NDVI)']
data[ '平均气温(℃)']=1/3*data[ '平均气温(℃)']
data[ '降水量(mm)']=1/3*data[ '降水量(mm)']
data[ '平均风速(knots)']=1/3*data[ '平均风速(knots)']

# data[ '平均风速(knots)']=1/3*data[ '平均风速(knots)']
# data[ '平均风速(knots)']=1/3*data[ '平均风速(knots)']
# data[ '平均风速(knots)']=1/3*data[ '平均风速(knots)']

In [119]:
data['气象']=data[ '平均气温(℃)']+data[ '降水量(mm)']+data[ '平均风速(knots)']
data['地表']=data[ '10cm湿度(kg/m2)']+data[ '200cm湿度(kg/m2)']+data[ '植被指数(NDVI)']
data['沙漠化程度指数']=data['气象']+data['地表']
i='沙漠化程度指数'
data[i]=(data[i]-data[i].min())/(data[i].max()-data[i].min())

In [120]:
data

,月份,年份,10cm湿度(kg/m2),200cm湿度(kg/m2),植被指数(NDVI),平均气温(℃),降水量(mm),平均风速(knots),气象,地表,沙漠化程度指数
0,1,2022,0.075174,0.000000,0.014469,0.043037,0.227000,0.000000,0.270038,0.089643,0.025798
1,2,2022,0.065811,0.000000,0.014469,0.037244,0.297544,0.058491,0.393278,0.080280,0.129784
2,3,2022,0.142322,0.000000,0.109325,0.144631,0.043198,0.125786,0.313615,0.251647,0.213521
3,1,2021,0.147940,0.117647,0.008039,0.022760,0.001708,0.063522,0.087990,0.273626,0.027565
4,2,2021,0.114767,0.117647,0.010182,0.075178,0.089718,0.107547,0.272443,0.242597,0.167662
...,...,...,...,...,...,...,...,...,...,...,...
118,8,2012,0.163724,0.323529,0.329046,0.297952,0.023260,0.150314,0.471526,0.816299,0.873323
119,9,2012,0.200107,0.318627,0.263666,0.250017,0.023451,0.081761,0.355229,0.782400,0.736173
120,10,2012,0.144462,0.314542,0.160236,0.190703,0.006171,0.118868,0.315742,0.619241,0.551128
121,11,2012,0.137774,0.313725,0.103430,0.095869,0.011393,0.172327,0.279589,0.554929,0.459390
122,12,2012,0.127876,0.313725,0.018757,0.020070,0.002089,0.100629,0.122789,0.460358,0.229853

In [121]:
data=data.groupby('年份').mean()
data.reset_index(inplace=True)
data

,年份,月份,10cm湿度(kg/m2),200cm湿度(kg/m2),植被指数(NDVI),平均气温(℃),降水量(mm),平均风速(knots),气象,地表,沙漠化程度指数
0,2012,6.5,0.146803,0.326253,0.141881,0.172248,0.016916,0.153931,0.343094,0.614937,0.572175
1,2013,6.5,0.128210,0.302492,0.143935,0.182426,0.009407,0.155241,0.347075,0.574637,0.539010
2,2014,6.5,0.120697,0.276757,0.147687,0.193726,0.010143,0.124476,0.328344,0.545141,0.494972
3,2015,6.5,0.128433,0.258715,0.138576,0.188433,0.032050,0.118606,0.339088,0.525724,0.487053
4,2016,6.5,0.136615,0.243600,0.118390,0.185001,0.028878,0.128145,0.342024,0.498606,0.464970
5,2017,6.5,0.087012,0.232230,0.116158,0.193335,0.052486,0.125210,0.371031,0.435400,0.433742
6,2018,6.5,0.121478,0.222631,0.157020,0.190622,0.039614,0.134486,0.364723,0.501129,0.488002
7,2019,6.5,0.102305,0.196623,0.133932,0.191990,0.016575,0.118082,0.326647,0.432860,0.390894
8,2020,6.5,0.173600,0.162173,0.151215,0.183858,0.012358,0.117453,0.313668,0.486988,0.428470
9,2021,6.5,0.182473,0.071895,0.142730,0.187944,0.043934,0.108438,0.340316,0.397098,0.370720
10,2022,2.0,0.094436,0.000000,0.046088,0.074971,0.189247,0.061426,0.325644,0.140523,0.123034

In [147]:
data2=pd.read_excel('附件14不同放牧强度土壤碳氮监测数据.xlsx')
data2.head()

,year,放牧小区（plot）,放牧强度（intensity）,SOC土壤有机碳,SIC土壤无机碳,STC土壤全碳,全氮N,土壤C/N比
0,2012,G17,NG,17.051564,11.300000,28.351564,2.192376,12.931887
1,2012,G19,NG,19.529439,11.333333,30.862772,1.883051,16.389768
2,2012,G21,NG,14.549908,9.600000,24.149908,1.871001,13.818022
3,2012,G6,LGI,18.672931,12.666667,31.339598,2.407612,12.160230
4,2012,G12,LGI,13.904905,8.133333,22.038239,1.933916,11.395652

In [148]:
data3=pd.read_excel('附件3、土壤湿度2022—2012年.xls')
data3

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92
...,...,...,...,...,...,...,...,...
118,8,2012,115.375,44.125,15.76,44.94,61.25,168.44
119,9,2012,115.375,44.125,17.12,45.67,55.29,168.38
120,10,2012,115.375,44.125,15.04,42.49,54.69,168.33
121,11,2012,115.375,44.125,14.79,42.71,55.02,168.32
122,12,2012,115.375,44.125,14.42,42.71,55.02,168.32

In [149]:
data4=pd.merge(data2,data3,right_on=['年份'],left_on=['year'])

data4.reset_index(inplace=True,drop=True)

In [151]:
data4=data4[['月份', '年份', '放牧小区（plot）', '放牧强度（intensity）', 'SOC土壤有机碳', 'SIC土壤无机碳',
       'STC土壤全碳', '全氮N', '土壤C/N比', 
       '10cm湿度(kg/m2)', '40cm湿度(kg/m2)', '100cm湿度(kg/m2)', '200cm湿度(kg/m2)']]

In [152]:
data5=pd.merge(data4,data[['沙漠化程度指数','年份']],on=['年份'])

In [153]:
data5

,月份,年份,放牧小区（plot）,放牧强度（intensity）,SOC土壤有机碳,SIC土壤无机碳,STC土壤全碳,全氮N,土壤C/N比,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),沙漠化程度指数
0,1,2012,G17,NG,17.051564,11.30000,28.351564,2.192376,12.931887,13.73,30.87,42.79,168.56,0.572175
1,2,2012,G17,NG,17.051564,11.30000,28.351564,2.192376,12.931887,13.00,30.87,42.79,168.56,0.572175
2,3,2012,G17,NG,17.051564,11.30000,28.351564,2.192376,12.931887,12.60,30.87,42.79,168.56,0.572175
3,4,2012,G17,NG,17.051564,11.30000,28.351564,2.192376,12.931887,11.97,30.73,42.76,168.56,0.572175
4,5,2012,G17,NG,17.051564,11.30000,28.351564,2.192376,12.931887,14.18,29.99,42.58,168.56,0.572175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,8,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,20.79,56.63,68.52,166.51,0.428470
1580,9,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,20.04,56.67,76.04,166.32,0.428470
1581,10,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,16.59,52.88,80.84,166.09,0.428470
1582,11,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,15.04,50.66,82.25,165.95,0.428470
1583,12,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,16.51,50.40,82.44,165.92,0.428470

In [154]:
data5.columns

Index(['月份', '年份', '放牧小区（plot）', '放牧强度（intensity）', 'SOC土壤有机碳', 'SIC土壤无机碳',
       'STC土壤全碳', '全氮N', '土壤C/N比', '10cm湿度(kg/m2)', '40cm湿度(kg/m2)',
       '100cm湿度(kg/m2)', '200cm湿度(kg/m2)', '沙漠化程度指数'],
      dtype='object')

In [157]:
import numpy as np
from sklearn.decomposition import PCA
X1 =data5[[ 'SOC土壤有机碳', 'SIC土壤无机碳', 'STC土壤全碳', '全氮N', '土壤C/N比']].values
pca = PCA(n_components=1)   #降到1维
pca.fit(X1)                  #训练
newX1=pca.fit_transform(X1)   #降维后的数据
# PCA(copy=True, n_components=2, whiten=False)
print(pca.explained_variance_ratio_)  #输出贡献率

[0.68995241]

In [158]:
X2 =data5[[ '10cm湿度(kg/m2)', '40cm湿度(kg/m2)', '100cm湿度(kg/m2)', '200cm湿度(kg/m2)']].values
pca = PCA(n_components=1)   #降到2维
pca.fit(X2)                  #训练
newX2=pca.fit_transform(X2)   #降维后的数据
# PCA(copy=True, n_components=2, whiten=False)
print(pca.explained_variance_ratio_)  #输出贡献率

[0.79709561]

In [162]:
data5['有机物含量']=newX1
data5['土壤湿度']=newX2

data5['土壤板结化指数']=1/2*data5['有机物含量']+1/2*data5['土壤湿度']
i='土壤板结化指数'
data5[i]=(data5[i]-data5[i].min())/(data5[i].max()-data5[i].min())

In [191]:
data5['jiehe']=1/2*data5['土壤板结化指数']+1/2*data5['沙漠化程度指数']

In [196]:
data5[data5['jiehe']==data5['jiehe'].min()]

,月份,年份,放牧小区（plot）,放牧强度（intensity）,SOC土壤有机碳,SIC土壤无机碳,STC土壤全碳,全氮N,土壤C/N比,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),沙漠化程度指数,有机物含量,土壤湿度,土壤板结化,土壤板结化指数,jiehe
1036,5,2018,G21,NG,22.889325,1.0,23.889325,2.78398,8.580997,13.94,33.22,42.49,167.28,0.488002,-10.321465,-10.839293,-10.580379,0.0,0.244001

In [197]:
temp=data5[(data5['放牧强度（intensity）']=='NG')&(data5['放牧小区（plot）']=='G21')]

temp[temp['jiehe']==temp['jiehe'].min()]

,月份,年份,放牧小区（plot）,放牧强度（intensity）,SOC土壤有机碳,SIC土壤无机碳,STC土壤全碳,全氮N,土壤C/N比,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),沙漠化程度指数,有机物含量,土壤湿度,土壤板结化,土壤板结化指数,jiehe
1036,5,2018,G21,NG,22.889325,1.0,23.889325,2.78398,8.580997,13.94,33.22,42.49,167.28,0.488002,-10.321465,-10.839293,-10.580379,0.0,0.244001

In [198]:
temp.to_excel('Q4.result.data.xlsx',index=None)